* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.open-sans-nahid {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-weight: 500;
}

.main-header{
    background-image: url('images/developer.png'), url('images/header_bg.png') ;
    background-repeat: no-repeat;
    background-position: 60px  28px, bottom right ;
    background-color: #fff8f3;
}



.header{
    display: flex;
    justify-content: space-around;
    gap: 250px;
    align-items: center;
    /* background-color: red; */
    padding: 15px 0px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

.menu ul{
    display: flex;
    gap: 30px;
    align-items: center;
}

.menu ul li{
    list-style: none;

}

.menu ul li a{
    text-decoration: none;
    font-size: 20px;
}

.hire-me{
    background-color: #fd6e09;
    padding: 10px;
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 20px;
}

.btn-2{
    padding: 10px;
    border-radius: 5px;
    color: #fd6e09;
    border: 1px solid  #fd6e09;
    font-size: 20px;
    background-color: #fff8f3;
}

.dark-2{
    color: #474747;
}

.banner-container{
    width: 585px;
}

.banner-description{
    font-size: 18px;
}

.banner-img{
    width: 584px;
    height: 676px;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px 0px 0px 170px;
   
}

.section{
    background-color: #fff8f3;
    padding: 150px;
    text-align: center;
    border-radius: 10px;
    margin: 130px 0px;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

main{
    max-width: 1140px;
     margin: 0px auto;
}

.about-items{
    display: flex;
    justify-content: space-between;
}

.item-title{
    font-size: 18px;
    font-weight: 300;
    color: grey;
    margin-top: 30px;
}

.item-description{
    font-size: 18px ;
    font-weight: 700;
}

.skiill{
    text-align: center;
    margin-bottom: 130px;
}

.skills-container{
    display: flex;
    margin-top: 30px;
    gap: 30px;
    text-align: justify;
}

.skkis-veriation{
    background-color: #FFFFFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
padding: 30px;
border-radius: 5px;
margin-top: 20px;
}

.section-des{
    font-size: 18px; 
    color: grey; 
    margin-top: 30px;
     width: 909px; 
     margin: 0px auto; margin-top: 30px;
}

.skills-heading{
    margin: 15px 0px;
    font-size: 20px ;
    font-weight: 700px;
}

.skiils-description{
     font-size: 16px;
     color: grey;
}

.resume{
    margin-bottom: 130px;
}

.resume-container{
    display: flex;
    gap: 40px;
    margin-top: 50px;
}

.resume h3{
    margin-bottom: 100px;
}

.resume-column h3{
    font-size: 30px ;
    font-weight: 700;
    margin-bottom: 20px;
}

.resume-column-title{
    font-size: 30px;
    font-weight: 700;
}

.experience{
    padding-right: 50px;
}

.experience-title{
        font-size: 25px;
    font-weight: 700;
    margin-bottom: 5px;
}

.experience-subtitle{
    font-size: 20px;
    font-weight: 600;

    color: rgba(117, 117, 117, 1);
}

.experince-description{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    color: rgba(117, 117, 117, 1);
}


.main-footer{
    margin-top: 130px;
    background-color: rgba(255, 248, 243, 1);
    padding: 50px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-column{
    max-width: 40%;
}

.form input{
      display: block;
      padding: 12px 20px;
      width: 441px;
      font-size: 16px;
      border: none;
      border-radius: 5px;
}

.form textarea{
     width: 441px;
     font-size: 16px;
     border: none;
      border-radius: 5px;
      display: block;
      padding: 15px 20px;
      height: 180px;
}


.container-m{
  margin: auto;
  background: #fff;
  padding: 40px;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 28px;
  margin-bottom: 50px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.section-m h3 {
  margin-bottom: 20px;
  color: #ff6600;
  font-size: 20px;
}

.item-m {
  margin-bottom: 25px;
}

.item-m h4 {
  margin: 0 0 5px;
  font-size: 18px;
  color: #222;
}

.item-m span {
  display: block;
  color: #777;
  font-size: 14px;
  margin-bottom: 8px;
}

.item-m p {
  margin: 0;
  font-size: 14px;
  color: #555;
}

.hide{
    display: none;
}

@media screen and (max-width: 575px) {
    .section-title{
        font-size: 30px;
    }

    .section-des{
        font-size: 14px;
       max-width: 400px;
    }

    .skills-container{
        flex-direction: column;
    }

    .skkis-veriation{
        margin: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}


